
*.pyc
Questions$py.class
Games$py.class
.idea/encodings.xml
*.iml
.idea/modules.xml
nbproject/project.properties
.idea/.name
nbproject/private/private.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
nbproject/project.xml